		h1{
   color: red;
   font-family: courier;
}

		canvas {
					border : solid 1px;
					background-color: white;
		
		}
		
		html {
						
 			
 			min-height: 100%;

		}
		body {

			background-image: url('../fondo2.png');
			background-repeat: no-repeat;
			background-size: cover;
}
		.herramientas {
			width: 30px;
		}
		.herramientas div {
			background-color: black;
		}
		.herramientas div:hover{
			border: yellow 2px;
		}
		.herramientas img:hover{
			border: yellow 2px;
		}

		

		div{



			background-color: transparent;
			color: red;
			font-size: 30px;


		}


.slidecontainer {
	alignment-baseline: central;
  width: 100%;
}

.slider {
	align-self: center;
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

a{
	color: purple;
}

p{
	color:purple;
}

#footer
{ width: 100%;
  font-family: 'trebuchet ms', sans-serif;
  font-size: 100%;
  height: 80px;
  padding: 28px 0 5px 0;
  text-align: center; 
  background: #CCC;
  border-top: 1px solid #AAA;
  color: #FFF;}

#footer p
{ line-height: 1.7em;
  padding: 0 0 10px 0;}

#footer a
{ color: #FFF;
  text-decoration: none;}

#footer a:hover
{ color: #00C6F0;
  text-decoration: none;}

	

